<div class="burger-mobile-menu is-open" data-modal>
  <div class="burger-mobile-menu_coteiner">
    <div class="burger-mobile-menu-top">
      <a href="./index.html" class="logo link">
        <svg class="logo" width="14" height="14">
          <use href="../sprite.svg#icon-logo-cropped"></use>
        </svg>
        <span class="">thewatchspot</span></a
      >
      <button
        class="burger-mobile-menu_close-btn"
        type="button"
        data-modal-close
      >
        <svg class="burger-mobile-menu_close-icon" width="12" height="12">
          <use href="../sprite.svg#icon-close-black-18dp-2-1"></use>
        </svg>
      </button>
    </div>
    <ul class="burger-mobile-header-nav list">
      <li class="burger-mobile-header-item">
        <a class="burger-mobile-header-link link current" href="#about"
          >About us</a
        >
      </li>
      <li class="burger-mobile-header-item">
        <a class="burger-mobile-header-link link" href="#catalog">Catalog</a>
      </li>
      <li class="burger-mobile-header-item">
        <a class="burger-mobile-header-link link" href="#sale">Sale</a>
      </li>
    </ul>
  </div>
</div>

<script src="../public/modal.js"></script>
