<div class="burger-mobile-menu">
  <div class="burger-mobile-menu_coteiner">
    <div class="burger-mobile-menu-top">
      <a href="./index.html" class="logo link">
        <svg class="burger-mobile-menu_close-icon" width="12" height="12">
          <use href="./images"></use>
        </svg>
        <span class="">thewatchspot</span></a
      >
      <button class="burger-mobile-menu_close-btn" type="button">
        <svg class="burger-mobile-menu_close-icon" width="12" height="12">
          <use href="./images"></use>
        </svg>
      </button>
    </div>
    <ul class="burger-mobile-header-nav list">
      <li class="burger-mobile-header-item">
        <a class="burger-mobile-header-link link current" href="./index.html"
          >About us</a
        >
      </li>
      <li class="burger-mobile-header-item">
        <a class="burger-mobile-header-link link" href="./portfolio.html"
          >Catalog</a
        >
      </li>
      <li class="burger-mobile-header-item">
        <a class="burger-mobile-header-link link" href="">Sale</a>
      </li>
    </ul>
  </div>
</div>
