<div class="containerr">
    <button class="btn" type="button" data-modal-open>BUY NOW</button>
    <div class="backdrop is-hidden" data-modal>
     <div class="modal">
       
         <button type="button" class="button-modal" data-modal-close> <svg class="section-one-icon">
                     <use href="./images/sprite.svg#icon-close-black-18dp-2-1"></use>
                 </svg> 
             </button>
            
                <div class="modal-imges-div">
                    <div class="modal-imges">
                        <img src="./img/mobile-tab-catalog/1x/tab-modal-img.jpg" alt="computer" width="276"
                        srcset="./img/mobile-tab-catalog/1x/tab-modal-img.jpg 1x, ./img/mobile-tab-catalog/2x/tab-modal-img-2x.jpg 2x">
                <h2 class="modal-text-name">Tube Watch S42 Date Steel With Black Case</h2>
                <p class="modal-text-price">€395</p>
                     </div>
                 <form class="modal-form">
                        <div class="form-fil">
                             <label for="user-name" class="modal-label">Full name</label>

                        <input type="text" class="modal-input" id="user-name" name="Name" placeholder="Enter your full name" required minlength="3">
                        </div>
                        <div class="form-fil">
                             <label for="user-phone" class="modal-label">Email</label>
                
                        <input type="email" class="modal-input" id="user-phone" name="user phone" placeholder="Enter your email">
                        </div>
                        <div class="form-fil">
                             <label for="user-ameil" class="modal-label">Card number</label>
                
                        <input type="number" class="modal-input" id="user-ameil" name="user email" placeholder="Enter card" required >
                 
                        </div>
                        <div class="form-fil">
                             <label for="Comment" class="modal-label">Comments</label>

                         <textarea name="Comment" id="Comment" placeholder="Enter your text" class="modal-input-text"></textarea>
                        </div>
                   
                 <button type="submit" class="modal-form-button">SUMBIT</button>

                        <p class="modal-paragr">
                        By clicking on “Sumbit” button, you agree to our  <a class="modal-paragr" href="https://en.wikipedia.org/wiki/Privacy_policy#:~:text=A%20privacy%20policy%20is%20a,a%20customer%20or%20client's%20data." target="_blank">Privacy Policy,</a> 
                        and allow Promodo to use this information for marketing purposes.
                        </p> 
             </form>
                </div>
     </div>
    </div>
</div>
     </div>
    </div>
</div>
</section>