<div>
    <div class="backdrop is-hidden" data-main>
        <div class="modal">

            <button type="button" class="button-modal" data-main-close> <svg class="section-one-icon">
                    <use href="../assets/sprite.svg#icon-close-black-18dp-2-1"></use>
                </svg>
            </button>

            <div class="modal-imges-div">
                <div class="modal-imges">
                    <img src="./assets/img/mobile-tab-catalog/1x/tab-modal-img.jpg" alt="top clock" width="276"
                        srcset="../assets/img/mobile-tab-catalog/1x/tab-modal-img.jpg 1x, ./assets/img/mobile-tab-catalog/2x/tab-modal-img-2x.jpg 2x">
                    <p class="modal-text-name">Tube Watch S42 Date Steel With Black Case</p>
                    <p class="modal-text-price">€395</p>
                </div>
                <form class="modal-form">

                    <label for="user-name" class="modal-label">Full name</label>

                    <input type="text" class="modal-input" id="user-name" name="Name" placeholder="Enter your full name"
                        required minlength="3">

                    <label for="user-phone" class="modal-label">Email</label>

                    <input type="tel" class="modal-input" id="user-phone" name="user phone"
                        placeholder="Enter your email" required maxlength="10">

                    <label for="user-ameil" class="modal-label">Card number</label>

                    <input type="email" class="modal-input" id="user-ameil" name="user email" placeholder="Enter card"
                        required>


                    <label for="Comment" class="modal-label">Comments</label>

                    <textarea name="Comment" id="Comment" placeholder="Enter your text"
                        class="modal-input-text"></textarea>

                    <button type="submit" class="modal-form-button">SUMBIT</button>

                    <span class="modal-paragr">
                        By clicking on “Send message” button, you agree to our <a class="modal-paragr"
                            href="https://en.wikipedia.org/wiki/Privacy_policy#:~:text=A%20privacy%20policy%20is%20a,a%20customer%20or%20client's%20data."
                            target="_blank">Privacy Policy,</a>
                        and allow Promodo to use this information for marketing purposes.
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
</section>