<section class="catalog-section" id="catalog">
  <div class="catalog-wrap container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-1.jpg"
                srcset="
                  ./img/catalog/catalog-image-1.jpg    1x,
                  ./img/catalog/catalog-image-1-2x.jpg 2x
                "
                alt="Tube Watch"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p class="catalog-item-title">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <span class="catalog-item-price">€395</span>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-2.jpg"
                srcset="
                  ./img/catalog/catalog-image-2.jpg    1x,
                  ./img/catalog/catalog-image-2-2x.jpg 2x
                "
                alt="Avondale Watch for Men"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title">Avondale Watch Police For Men</p>
        <span class="catalog-item-price">€800</span>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-3.jpg"
                srcset="
                  ./img/catalog/catalog-image-3.jpg    1x,
                  ./img/catalog/catalog-image-3-2x.jpg 2x
                "
                alt="Diver Watch Co-Axial for Men"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title cut-text">
          Diver 300M Co-Axial Master Chronometer Chronograph
        </p>
        <span class="catalog-item-price">€600</span>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-4.jpg"
                srcset="
                  ./img/catalog/catalog-image-4.jpg    1x,
                  ./img/catalog/catalog-image-4-2x.jpg 2x
                "
                alt="Diver Watch for Men"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title">Diver 300M Co-Axial Master Chronometer</p>
        <span class="catalog-item-price">€1400</span>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-5.jpg"
                srcset="
                  ./img/catalog/catalog-image-5.jpg    1x,
                  ./img/catalog/catalog-image-5-2x.jpg 2x
                "
                alt="Taman Watch for Men"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title">Taman Watch By Police For Men</p>
        <span class="catalog-item-price">€500</span>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-6.jpg"
                srcset="
                  ./img/catalog/catalog-image-6.jpg    1x,
                  ./img/catalog/catalog-image-6-2x.jpg 2x
                "
                alt="Malawi Watch for Men"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title">Malawi Watch Police For Men</p>
        <span class="catalog-item-price">€555</span>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-7.jpg"
                srcset="
                  ./img/catalog/catalog-image-7.jpg    1x,
                  ./img/catalog/catalog-image-7-2x.jpg 2x
                "
                alt="Mens Watch"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title">Diver 300M Co-Axial Master Chronometer</p>
        <span class="catalog-item-price">€1200</span>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-8.jpg"
                srcset="
                  ./img/catalog/catalog-image-8.jpg    1x,
                  ./img/catalog/catalog-image-8-2x.jpg 2x
                "
                alt="Greenlane Watch for Men"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title">Greenlane Watch By Police For Men</p>
        <span class="catalog-item-price">€1000</span>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-9.jpg"
                srcset="
                  ./img/catalog/catalog-image-9.jpg    1x,
                  ./img/catalog/catalog-image-9-2x.jpg 2x
                "
                alt="Greenlane Watch for Men"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title">Squardrc 5402 Chrono</p>
        <span class="catalog-item-price">€359</span>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-10.jpg"
                srcset="
                  ./img/catalog/catalog-image-10.jpg    1x,
                  ./img/catalog/catalog-image-10-2x.jpg 2x
                "
                alt="Greenlane Watch for Men"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title cut-text">
          Diver 300M Co-Axial Master Chronometer Chronographn
        </p>
        <span class="catalog-item-price">€400</span>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-11.jpg"
                srcset="
                  ./img/catalog/catalog-image-11.jpg    1x,
                  ./img/catalog/catalog-image-11-2x.jpg 2x
                "
                alt="Greenlane Watch for Men"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title">Citizen</p>
        <span class="catalog-item-price">€519</span>
      </li>
      <li class="catalog-list-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-image-12.jpg"
                srcset="
                  ./img/catalog/catalog-image-12.jpg    1x,
                  ./img/catalog/catalog-image-12-2x.jpg 2x
                "
                alt="Greenlane Watch for Men"
                class="catalog-item-image"
              />
            </div>
            <div class="flip-card-back">
              <div class="flip-back-wrap">
                <p class="catalog-cover-title">Description</p>
                <p class="catalog-cover-text">
                  Richly detailed with an understated design - the Police Men's
                  Greenlane watch.
                </p>
                <p class="catalog-cover-title">DETAILS & FEATUREStion</p>
                <ul class="catalog-cover-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="catalog-item-title">Armani Exchange</p>
        <span class="catalog-item-price">€400</span>
      </li>
    </ul>
    <button type="button" class="catalog-button" data-modal-open>
      Buy now
    </button>
  </div>
</section>
