<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrap">
      <div class="footer-address">
        <a href="/" class="footer-logo">
          <img
            class="footer-logo-icons"
            srcset="./img/logo-footer.png 1x, ./img/logo-footer2x.png 2x"
            src="./img/logo-footer.png"
            alt="logo"
          />
        </a>
        <address class="footer-address-wrap">
          <ul class="footer-address-list">
            <li class="item">
              <a href="tel:+380684439426" class="link">+380 (68) 443-94-26</a>
            </li>
            <li class="item">
              <a
                href="https://goo.gl/maps/1GAF71vPJ28Vpoyp6"
                target="blank"
                rel="noreferrer noopener"
                class="link"
              >
                <span class="address-text">
                  1678 S. Pioneer Road Salt Lake City <br />
                  UT 84104
                </span>
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-nav">
        <ul class="footer-nav-list list">
          <li class="footer-nav-item">
            <a href="#about" class="footer-nav-link">About Us</a>
          </li>
          <li class="footer-nav-item">
            <a href="#catalog" class="footer-nav-link">Catalog</a>
          </li>
          <li class="footer-nav-item">
            <a href="#sale" class="footer-nav-link">Sale</a>
          </li>
        </ul>
      </div>
      <div class="footer-socials">
        <ul class="foot-social-list list">
          <li class="foot-social-list-item">
            <a
              href="https://facebook.com"
              target="blank"
              rel="noreferrer noopener"
              class="social-list-link"
            >
              <svg class="social-list-icons">
                <use href="/img/sprite.svg#icon-facebook24x24"></use>
              </svg>
            </a>
          </li>
          <li class="foot-social-list-item">
            <a
              href="https://instagram.com"
              target="blank"
              rel="noreferrer noopener"
              class="social-list-link"
            >
              <svg class="social-list-icons">
                <use href="/img/sprite.svg#icon-instagram24x24"></use>
              </svg>
            </a>
          </li>
          <li class="foot-social-list-item">
            <a
              href="https://youtube.com"
              target="blank"
              rel="noreferrer noopener"
              class="social-list-link"
            >
              <svg class="social-list-icons">
                <use href="./img/sprite.svg#icon-youtube24x24"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-terms">
      <p class="footer-terms-text">
        &copy;2022 The Watch Spot. All rights reserved.
      </p>
      <ul class="footer-terms-list list">
        <li class="footer-terms-item">
          <a href="#" class="footer-terms-text footer-terms-link"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-terms-item">
          <a href="#" class="footer-terms-text footer-terms-link"
            >Terms of Service</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
