<header class="header">

  <div class="container header-container">

    <nav class="nav-list">
      <a href="./index.html" class="link-logo">
        <img src="../img/logo.png" alt="thewatchspot" class="img-logo">
        <span class="logo-text">thewatchspot</span> </a>
      <ul class="navigation-list">
        <li><a href="#about" class="navigation">about us</a></li>
        <li><a href="#catalog" class="navigation">catalog</a></li>
        <li><a href="#sale" class="navigation">sale</a></li>
      </ul>
    </nav>

    <address class="address-list">
      <a href="tel:+380684439426" class="contacts"> +380 (68) 443-94-26 </a>
    </address>
    <button type="button" class="open-btn-menu" data-modal-open>
      <svg width="20" height="14" class="icon-open-menu">
        <use href="../sprite.svg#icon-Vector"></use>
      </svg>
    </button>
  </div>
</header>