<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">Welcome to our collection of premium watches</h1>
      <div class="swiper heroSwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img
              srcset="
                ../img/mobile/1x/mob-slider-1.jpg    1x,
                ../img/mobile/2x/mob-slider-1-2x.jpg 2x
              "
              src="../img/mobile/1x/mob-slider-1.jpg"
              alt="The watch. Slide 1"
              class="swiper-slige-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ../img/mobile/1x/mob-slider-2.jpg    1x,
                ../img/mobile/2x/mob-slider-2-2x.jpg 2x
              "
              src="../img/mobile/1x/mob-slider-2.jpg"
              alt="The watch. Slide 2"
              class="swiper-slige-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ../img/mobile/1x/mob-slider-3.jpg    1x,
                ../img/mobile/2x/mob-slider-3-2x.jpg 2x
              "
              src="../img/mobile/1x/mob-slider-3.jpg"
              alt="The watch. Slide 3"
              class="swiper-slige-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ../img/mobile/1x/mob-slider-4.jpg    1x,
                ../img/mobile/2x/mob-slider-4-2x.jpg 2x
              "
              src="../img/mobile/1x/mob-slider-4.jpg"
              alt="The watch. Slide 4"
              class="swiper-slige-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ../img/mobile/1x/mob-slider-5.jpg    1x,
                ../img/mobile/2x/mob-slider-5-2x.jpg 2x
              "
              src="../img/mobile/1x/mob-slider-5.jpg"
              alt="The watch. Slide 5"
              class="swiper-slige-img"
            />
          </div>
        </div>
        <div class="slider-navigation">
          <div class="slider-navigation-buttons">
            <div class="hero-swiper-button-prev">
              <svg class="hero-button-prev-icon" width="18px" height="18px">
                <use href="../sprite.svg#icon-chevron-left18x18"></use>
              </svg>
            </div>
            <div class="hero-swiper-button-next">
              <svg class="hero-button-next-icon" width="18px" height="18px">
                <use href="../sprite.svg#icon-chevron-right18x18"></use>
              </svg>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
      <div class="hero-description">
        <p class="hero-description-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-img">
        <img
          srcset="
            ../img/mobile/1x/mob-hero-img.jpg    1x,
            ../img/mobile/2x/mob-hero-img-2x.jpg 2x
          "
          src="../img/mobile/1x/mob-hero-img.jpg"
          alt="The watch"
          class="hero-img-watch"
        />
      </div>
    </div>
  </div>
</section>
