<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-title">
        <h1 class="hero-title-text">
          Welcome to our collection of premium watches
        </h1>
      </div>
      <div class="swiper heroSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              srcset="
                ./img/sale-slider-desc-tab/1x/desc-slider-1.webp    1x,
                ./img/sale-slider-desc-tab/2x/desc-slider-1-2x.webp 2x
              "
              src="./img/sale-slider-desc-tab/1x/desc-slider-1.webp"
              alt="The watch. Slide 1"
              class="swiper-slige-img" loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./img/sale-slider-desc-tab/1x/desc-slider-2.webp    1x,
                ./img/sale-slider-desc-tab/2x/desc-slider-2-2x.webp 2x
              "
              src="./img/sale-slider-desc-tab/1x/desc-slider-2.webp"
              alt="The watch. Slide 2"
              class="swiper-slige-img" loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./img/sale-slider-desc-tab/1x/desc-slider-3.webp    1x,
                ./img/sale-slider-desc-tab/2x/desc-slider-3-2x.webp 2x
              "
              src="./img/sale-slider-desc-tab/1x/desc-slider-3.webp"
              alt="The watch. Slide 3"
              class="swiper-slige-img" loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./img/sale-slider-desc-tab/1x/desc-slider-4.webp    1x,
                ./img/sale-slider-desc-tab/2x/desc-slider-4-2x.webp 2x
              "
              src="./img/sale-slider-desc-tab/1x/desc-slider-4.webp"
              alt="The watch. Slide 4"
              class="swiper-slige-img" loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                ./img/sale-slider-desc-tab/1x/desc-slider-5.webp    1x,
                ./img/sale-slider-desc-tab/2x/desc-slider-5-2x.webp 2x
              "
              src="./img/sale-slider-desc-tab/1x/desc-slider-5.webp"
              alt="The watch. Slide 5"
              class="swiper-slige-img" loading="lazy"
            />
          </div>
        </div>
        <div class="slider-navigation">
          <div class="slider-navigation-buttons">
            <div class="hero-swiper-button-prev">
              <svg class="hero-button-prev-icon" width="18px" height="18px">
                <use href="./img/sprite.svg#icon-chevron-left18x18"></use>
              </svg>
            </div>
            <div class="hero-swiper-button-next">
              <svg class="hero-button-next-icon" width="18px" height="18px">
                <use href="./img/sprite.svg#icon-chevron-right18x18"></use>
              </svg>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="hero-description">
        <p class="hero-description-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-img">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/mobile/1x/mob-hero-img.webp    1x,
              ./img/mobile/2x/mob-hero-img-2x.webp 2x
            "
          />
          <source
            media="(max-width:1279px)"
            srcset="
              ./img/tab/1x/tab-hero-img.webp    1x,
              ./img/tab/2x/tab-hero-img-2x.webp 2x
            "
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/desctop/1x/desc-hero-img.webp    1x,
              ./img/desctop/2x/desc-hero-img-2x.webp 2x
            "
          />
          <img
            src="./img/desctop/1x/desc-hero-img.webp "
            alt="The watch"
            class="hero-img-watch" loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
