

<div class="new-cont">

    <div class="new-block-1">
        <h1 class="new-h1">New watches</h1>
        <P class="new-desc">Green And Bronze—The Match Made In Heaven</P>
    </div>

    <div class="new-block-2">
        <ul class="new-list-item">
            <li class="new-item">
                
                <picture>

                    <source srcset="../img/desctop/1x/desc-new-2.jpg 1x, ../img/desctop/2x/desc-new-2-2x.jpg 2x"
                    media="(min-width: 1280px)"/>
                  

                    <source srcset="../img/tab/1x/tab-new-2.jpg 1x, ../img/tab/2x/tab-new-2-2x.jpg 2x "
                    media="(min-width: 768px)"/>

               <source srcset="../img/mobile/1x/mob-new-2.jpg 1x, ../img/mobile/2x/mob-new-2-2x.jpg 2x "
                media="(max-width: 767px)"/>

                    <img src="../img/mobile/1x/mob-new-2.jpg" alt="new-photo-2"  class="new-img">

                </picture>

            </li>

            <li class="new-item"> 
                
                
                <picture>
<source srcset="../img/desctop/1x/desc-new-1.jpg 1x, ../img/desctop/2x/desc-new-1-2x.jpg 2x"
media="(min-width: 1280px)" />


<source srcset="../img/tab/1x/tab-new-1.jpg 1x, ../img/tab/2x/tab-new-1-2x.jpg 2x" 
media="(min-width: 768px)"/>


<source  srcset="../img/mobile/1x/mob-new-1.jpg 1x, ../img/mobile/2x/mob-new-1-2x.jpg 2x" 
media="(max-width: 767px)"/>

                    <img src="../img/mobile/1x/mob-new-1.jpg" alt="new-photo-1"  class="new-img" >
                </picture>
                
            
            </li>
    </ul>
    </div>
    </div>