<link rel="stylesheet" href="../css/sale.css" />
<section class="section sale">
  <div class="container">
    <h2 class="title-sale">Sale</h2>
    <div class="gallery-sale">
      <ul class="gallery-sale-item">
        <li>
          <picture>
            <source
              srcset="
                ../img/sale-slider-desc-tab/1x/desc-sale-img-1.png    1x,
                ../img/sale-slider-desc-tab/2x/desc-sale-img-1-2x.png 2x
              "
              type="image/png"
              media="(min-width:768px)"
            />

            <source
              srcset="
                ../img/mobile/1x/mob-sale-img-1.png    1x,
                ../img/mobile/2x/mob-sale-img-1-2x.png 2x
              "
              type="image/png"
              media="(max-width:767px)"
            />

            <img
              class="color"
              src="../img/mobile/1x/mob-sale-main-img.jpg"
              alt="watch"
              width="146"
              height="146"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../img/sale-slider-desc-tab/1x/desc-sale-img-2.jpg    1x,
                ../img/sale-slider-desc-tab/2x/desc-sale-img-2-2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width:768px)"
            />

            <source
              srcset="
                ../img/mobile/1x/mob-sale-img-2.jpg    1x,
                ../img/mobile/2x/mob-sale-img-2-2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width:767px)"
            />
            <img src="../img/mobile/1x/mob-sale-img-2.jpg" alt="watch" />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../img/sale-slider-desc-tab/1x/desc-sale-img-3.jpg    1x,
                ../img/sale-slider-desc-tab/2x/desc-sale-img-3-2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width:768px)"
            />

            <source
              srcset="
                ../img/mobile/1x/mob-sale-img-3.jpg    1x,
                ../img/mobile/2x/mob-sale-img-3-2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width:767px)"
            />
            <img src="../img/mobile/1x/mob-sale-img-3.jpg" alt="watch" />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../img/sale-slider-desc-tab/1x/desc-sale-img-4.jpg    1x,
                ../img/sale-slider-desc-tab/2x/desc-sale-img-4-2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width:768px)"
            />

            <source
              srcset="
                ../img/mobile/1x/mob-sale-img-4.jpg    1x,
                ../img/mobile/2x/mob-sale-img-4-2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width:767px)"
            />
            <img src="../img/mobile/1x/mob-sale-img-4.jpg" alt="watch" />
          </picture>
        </li>
      </ul>
      <div>
        <picture>
          <source
            srcset="
              ../img/sale-slider-desc-tab/1x/desc-sale-main-img.jpg    1x,
              ../img/sale-slider-desc-tab/2x/desc-sale-main-img-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width:768px)"
          />

          <source
            srcset="
              ../img/mobile/1x/mob-sale-main-img.jpg    1x,
              ../img/mobile/2x/mob-sale-main-img-2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width:767px)"
          />
          <img src="../img/mobile/1x/mob-sale-main-img.jpg" alt="watch" />
        </picture>
      </div>
    </div>

    <div class="text-information">
      <ul class="info">
        <li class="by-police">
          <h3 class="title-by-police">Greenlane Watch By Police For MenHT</h3>
          <p class="product-tag">Product tag: PEWJK2227003</p>
          <p class="price">€700<span class="price-low">€1000</span></p>
        </li>
        <li class="watch-text-block">
          <h3 class="title-information">DESCRIPTION</h3>
          <p class="watch-information">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </li>
        <li class="watch-text-block">
          <h3 class="title-information">DETAILS & FEATURESTION</h3>
          <ul class="watch-information">
            <li>Gender: man</li>
            <li>Size: 46x54.5mm</li>
            <li>Case Colour: Steel</li>
            <li>Band Material: Metal</li>
            <li>Case Material: Metal</li>
            <li>Features: Multifunction</li>
            <li>Water Resistant: 5 (ATM)</li>
            <li>Band Colour: Steel</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
