<section class="sale" id="sale">
  <div class="sale-container container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-gallery">
        <ul class="sale-gallery-list">
          <li class="sale-gallery-item color">
            <picture class="sale-gallery-picture">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/sale-slider-desc-tab/1x/desc-sale-img-1.png    1x,
                  ./img/sale-slider-desc-tab/2x/desc-sale-img-1-2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale-slider-desc-tab/1x/desc-sale-img-1.png    1x,
                  ./img/sale-slider-desc-tab/2x/desc-sale-img-1-2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile/1x/mob-sale-img-1.png    1x,
                  ./img/mobile/2x/mob-sale-img-1-2x.png 2x
                "
              />

              <img
                src="./img/sale-slider-desc-tab/1x/desc-sale-img-1.png"
                alt="watch"
              />
            </picture>
          </li>
          <li class="sale-gallery-item">
            <picture class="sale-gallery-picture">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/sale-slider-desc-tab/1x/desc-sale-img-2.jpg    1x,
                  ./img/sale-slider-desc-tab/2x/desc-sale-img-2-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale-slider-desc-tab/1x/desc-sale-img-2.jpg    1x,
                  ./img/sale-slider-desc-tab/2x/desc-sale-img-2-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile/1x/mob-sale-img-2.jpg    1x,
                  ./img/mobile/2x/mob-sale-img-2-2x.jpg 2x
                "
                type="image/jpg"
              />

              <img src="./img/mobile/1x/mob-sale-img-2.jpg" alt="watch" />
            </picture>
          </li>
          <li class="sale-gallery-item">
            <picture class="sale-gallery-picture">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/sale-slider-desc-tab/1x/desc-sale-img-3.jpg    1x,
                  ./img/sale-slider-desc-tab/2x/desc-sale-img-3-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale-slider-desc-tab/1x/desc-sale-img-3.jpg    1x,
                  ./img/sale-slider-desc-tab/2x/desc-sale-img-3-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile/1x/mob-sale-img-3.jpg    1x,
                  ./img/mobile/2x/mob-sale-img-3-2x.jpg 2x
                "
                type="image/jpg"
              />

              <img src="./img/mobile/1x/mob-sale-img-3.jpg" alt="watch" />
            </picture>
          </li>
          <li class="sale-gallery-item">
            <picture class="sale-gallery-picture">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/sale-slider-desc-tab/1x/desc-sale-img-4.jpg    1x,
                  ./img/sale-slider-desc-tab/2x/desc-sale-img-4-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale-slider-desc-tab/1x/desc-sale-img-4.jpg    1x,
                  ./img/sale-slider-desc-tab/2x/desc-sale-img-4-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile/1x/mob-sale-img-4.jpg    1x,
                  ./img/mobile/2x/mob-sale-img-4-2x.jpg 2x
                "
                type="image/jpg"
              />

              <img src="./img/mobile/1x/mob-sale-img-4.jpg" alt="watch" />
            </picture>
          </li>
        </ul>
        <div class="sale-item-big">
          <picture class="sale-picture-big">
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/sale-slider-desc-tab/1x/desc-sale-main-img.jpg    1x,
                ./img/sale-slider-desc-tab/2x/desc-sale-main-img-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale-slider-desc-tab/1x/desc-sale-main-img.jpg    1x,
                ./img/sale-slider-desc-tab/2x/desc-sale-main-img-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/mobile/1x/mob-sale-main-img.jpg    1x,
                ./img/mobile/2x/mob-sale-main-img-2x.jpg 2x
              "
              type="image/jpg"
            />

            <img src="./img/mobile/1x/mob-sale-main-img.jpg" alt="big watch" />
          </picture>
        </div>
      </div>
      <div class="sale-item-text">
        <div class="sale-item-one">
          <h3 class="sale-item-one-title">
            Greenlane Watch By Police For MenHT
          </h3>
          <p class="sale-item-one-tag">Product tag: PEWJK2227003</p>
          <div class="sale-item-one-price">
            <p class="sale-item-one-now-price">€700</p>
            <p class="sale-item-one-before-price">€1000</p>
          </div>
        </div>
        <div class="sale-item-two">
          <h4 class="sale-item-two-title">Description</h4>
          <p class="sale-item-two-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-item-three">
          <h4 class="sale-item-three-title">details & featurestion</h4>

          <ul class="sale-item-three-text">
            <li>Gender: man</li>
            <li>Size: 46x54.5mm</li>
            <li>Case Colour: Steel</li>
            <li>Band Material: Metal</li>
            <li>Case Material: Metal</li>
            <li>Features: Multifunction</li>
            <li>Water Resistant: 5 (АTM)</li>
            <li>Band Colour: Steel</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
