<div class="sale-cont">

  <h1 class="sale-h1">Sale</h1>


  <div class="sale-block-img">

      <ul class="sale-list">

<li class="sale-item-png">
        <picture>
          <source
            srcset="
              ../img/sale-slider-desc-tab/1x/desc-sale-img-1.png    1x,
              ../img/sale-slider-desc-tab/2x/desc-sale-img-1-2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            
            src="/src/img/sale-slider-desc-tab/1x/desc-sale-img-1.png"
            alt="" width="64px" height="80px"/>
        </picture>
      </li>
      <li class="sale-item">
        <picture>
          <source
            srcset="
              ../img/sale-slider-desc-tab/1x/desc-sale-img-2.jpg    1x,
              ../img/sale-slider-desc-tab/2x/desc-sale-img-2-2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpg" />
          <img
            src="../img/sale-slider-desc-tab/1x/desc-sale-img-2.jpg"
            alt="" width="80px" height="80px"
        /></picture>
      </li>

      <li class="sale-item">
        <picture>
          <source
            srcset="
              ../img/sale-slider-desc-tab/1x/desc-sale-img-3.jpg    1x,
              ../img/sale-slider-desc-tab/2x/desc-sale-img-3-2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpg" />
          <img
            src="../img/sale-slider-desc-tab/1x/desc-sale-img-3.jpg"
            alt=""  width="80px" height="80px"
        /></picture>
      </li>
      <li class="sale-item">
        <picture>
          <source
            srcset="
              ../img/sale-slider-desc-tab/1x/desc-sale-img-4.jpg    1x,
              ../img/sale-slider-desc-tab/2x/desc-sale-img-4-2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <img
            src="../img/sale-slider-desc-tab/1x/desc-sale-img-4.jpg"
            alt=""  width="80px" height="80px"
          />
        </picture>
      </li>
  </ul>


  <div class="sale-block-img2">  <picture>
    <source
      srcset="
        ../img/sale-slider-desc-tab/1x/desc-sale-main-img.jpg    1x,
        ../img/sale-slider-desc-tab/2x/desc-sale-main-img-2x.jpg 2x
      "
      media="(max-width: 767px)"
      type="image/jpg"
    />
    <img
      src="../img/sale-slider-desc-tab/1x/desc-sale-main-img.jpg"
      alt=""  width="211px" height="332px"
    />
  </picture></div>
  </div>


      </ul>
      <div class="sale-price-block">

          <h2 class="sale-h2">Greenlane Watch By Police For MenHT </h2>
          <p class="sale-price-desc">Product tag: PEWJK2227003</p>
          <div class="sale-price">
            <p class="sale-price-info1">€700</p>
            <p class="sale-price-info2">€1000</p>
          </div>



      </div>

      <div class="sale-block-desc">


          <h3 class="sale-h3">Description</h3>
          <p class="sale-h3-desc">
              Richly detailed with an understated design - the Police Men’s Greenlane watch features a
              versatile multifunction design that fits effortlessly into work and play. The steel case is
              adorned with a semi-transparent black dial. The timepiece exhibits a contrast through a black IP
              bracelet with matching crown and pushers.
          </p>
      </div>


          <div class="sale-block-info">


              <h4 class="sale-h4">DETAILS & FEATUREStion</h4>

              <p class="sale-h4-desc">Gender: man
                  Size: 46x54.5mm
                  Case Colour: Steel
                  Band Material: Metal
                  Case Material: Metal
                  Features: Multifunction
                  Water Resistant: 5 (ATM)
                  Band Colour: Steel</p>

          </div>

      </div>

  </div>


</div>