.backdrop {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.modal {
    max-width: 335px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-imges-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 .form-fil {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    width: 100%;
 }

.button-modal {

    display: block;
    padding: 0;
    margin-left: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    background: #FFFFFF;
}

.section-one-icon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-name {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #141414;
    margin: 0;
    margin-bottom: 4px;
}

.modal-text-price {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
    margin: 0;
}


.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;

}

.modal-input {
    display: flex;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
    width: 100%;
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 16px;
  
}
.modal-input:not(:placeholder-shown):invalid {
    border-color: red;
}


.modal-imges {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-input-icon {
    fill: #4D5AE5;
}

.modal-input-icon {
    position: absolute;
    width: 18px;
    height: 24px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
    outline: none;
    resize: none;
    padding: 12px 16px;
    display: block;
    margin-bottom: 20px;

}

.modal-label {

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: #141414;
    display: block;
    margin-right: auto;
    margin-bottom: 12px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.modal-form-button {
    min-width: 169px;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #1E2827;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
    background: #1E2827;
border: 1px solid #FFFFFF;
border-radius: 8px;
}



.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal-paragr {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    display: flex;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.4);
    flex-wrap: wrap;
}

.btn:hover {
    background: #1E2827;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}



.containerr {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.cut-text-modal {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 265px;
    white-space: nowrap;
}

.modal-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media screen and (min-width: 320px) {
    .modal {
        max-width: 295px;
        padding: 20px;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);

    }

    .containerr {
        max-width: 335px;
    }

    .modal-form {
        width: 100%;

    }

   
}

@media screen and (min-width: 768px) {
    .modal {

        max-width: 684px;

    }

    .containerr {
        max-width: 766px;
    }

    .modal-form {
        width: 368px;
        margin-left: auto;
        padding-top: 0;
        padding-right: 20px;
        padding-bottom: 20px;

    }
    .modal-imges {
        margin-bottom: 0;
    }

  

    
    .modal-imges-div {
        flex-wrap: nowrap;
    }

}

@media screen and (min-width: 1158px) {
    .modal {

        max-width: 824px;


    }

    .containerr {
        max-width: 1158px;
    }

    .modal-form {
        width: 508px;
    }

   

    .modal-input-text {
        margin-bottom: 40px;
    }

}