@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Light.woff2') format('woff2'),
        url('../fonts/Epilogue-Light.woff') format('woff'),
        url('../fonts/Epilogue-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Regular.woff2') format('woff2'),
        url('../fonts/Epilogue-Regular.woff') format('woff'),
        url('../fonts/Epilogue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-SemiBold.woff2') format('woff2'),
        url('../fonts/Epilogue-SemiBold.woff') format('woff'),
        url('../fonts/Epilogue-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal';
    src: local('/src/fonts/NeueMontreal-Regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}