.header {
    position: absolute;
    width: 100%;
}

.container {
    max-width: 335px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 29px;

}

.nav-list {
    display: flex;
    align-items: center;
}

.link-logo {
    display: flex;
}

.img-logo {
    width: 14px;
    height: 14px;
}

.logo-text {
    margin-left: 4px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--hero-text-color);
}

.navigation-list {
    margin-left: 80px;
}

.navigation {
    color: var(--hero-text-color);
    font-size: 9px;
    line-height: 1.33;
    text-transform: uppercase;
}

/**---------------------------style--------------------------- */




.navigation:hover,
.navigation:focus {
    text-shadow: 0 0 5px white, 0 0 10px #00FFFF, 0 0 15px #7FFF00, 0 0 20px white;
    color: #03110f;
    transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.1);
}


/* *--------------------------------------------------------- */



.open-btn-menu {
    display: flex;
    background-color: transparent;
    border: none;
}

.icon-open-menu {
    fill: #ffffff;
}

/**------------------MEDIA--------------------**/


@media screen and (min-width: 375px) {
    .container {
        max-width: 335px;
        padding-left: 15px;
        padding-right: 15px;
    }

}





@media screen and (max-width: 767px) {
    .address-list {
        display: none;
    }

    .navigation-list {
        display: none;
    }


}



@media screen and (min-width: 768px) {


    .container {
        max-width: 734px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-container {
        padding-top: 38px;
    }

    .img-logo {
        width: 19px;
        height: 19px;
    }

    .open-btn-menu {
        display: none;
    }


    .navigation-list {
        display: flex;
        gap: 40px;
        margin-left: 76px;
    }


    .logo-text {
        font-size: 15px;
        display: flex;
        align-items: center;
    }

    .contacts {
        min-width: 159px;
        padding: 18px 35px;
        background: var(--hero-watches-bgc);
        border-radius: 8px;
        color: var(--hero-text-color);
        font-size: 9px;
        font-style: normal;
        line-height: 1.33;
        text-align: center;

    }


}



@media screen and (min-width: 1280px) {


    .container {
        max-width: 1176px;
    }
}