.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: var(--hero-bgc);
}



.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 29px;
    padding-bottom: 29px;

}

.nav-list {
    display: flex;
    align-items: center;
}

.link-logo {
    display: flex;
}

.img-logo {
    width: 14px;
    height: 14px;
}

.logo-text {
    margin-left: 4px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--hero-text-color);
}

.navigation-list {
    margin-left: 80px;
}

.navigation {
    display: block;
    color: var(--hero-text-color);
    font-size: 9px;
    line-height: 1.33;
    text-transform: uppercase;
    padding: 15px 0;
    transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**---------------------------style--------------------------- */




.navigation:hover,
.navigation:focus {
    text-shadow: 0 0 5px white, 0 0 10px #00FFFF, 0 0 15px #7FFF00, 0 0 20px white;
    transform: scale(1.1);
}


/* *--------------------------------------------------------- */



.open-btn-menu {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
}

.icon-open-menu {
    fill: #ffffff;
}

/**------------------MEDIA--------------------**/


@media screen and (max-width: 767px) {
    .address-list {
        display: none;
    }

    .navigation-list {
        display: none;
    }


}



@media screen and (min-width: 768px) {


    .header-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .img-logo {
        width: 19px;
        height: 19px;
    }

    .open-btn-menu {
        display: none;
    }


    .navigation-list {
        display: flex;
        gap: 40px;
        margin-left: 76px;
    }


    .logo-text {
        font-size: 15px;
        display: flex;
        align-items: center;
    }

    .contacts {
        display: block;
        min-width: 159px;
        padding: 18px 35px;
        background-color: var(--hero-watches-bgc);
        border-radius: 8px;
        color: var(--hero-text-color);
        font-size: 9px;
        font-style: normal;
        line-height: 1.33;
        text-align: center;
        transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts:hover,
    .contacts:focus {
        text-shadow: 0 0 5px white, 0 0 10px #00FFFF, 0 0 15px #7FFF00, 0 0 20px white;
        transform: scale(1.05);

    }
}