.hero {
  padding-top: 122px;
  padding-bottom: 40px;
  background-color: var(--hero-bgc);
}
.hero-title {
  margin-bottom: 60px;
}
.hero-title-text {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.05;
  color: var(--hero-text-color);
}
.hero-description-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}
.swiper {
  max-width: 266px;
  height: 200px;
  margin-left: 0;
  margin-bottom: 92px;
  overflow-y: unset;
}

.swiper-slige-img {
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper {
  margin-bottom: 20px;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.slider-navigation-buttons {
  display: flex;
  column-gap: 12px;
}
.hero-swiper-button-prev,
.hero-swiper-button-next {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.hero-swiper-button-prev:hover,
.hero-swiper-button-next:hover {
  border-color: var(--hero-text-color);
}
.hero-button-prev-icon,
.hero-button-next-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.hero-button-prev-icon:hover,
.hero-button-next-icon:hover {
  fill: var(--hero-text-color);
}
.swiper-pagination-custom {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  color: var(--hero-text-color);
}

.swiper-pagination-custom:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 32px;
  border: 1px solid #ffffff;
}
.hero-description {
  max-width: 248px;
  margin-left: auto;
  margin-bottom: 40px;
}
.hero-description-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;
}
.hero-img {
  height: 410px;
  max-width: 335px;
}
.hero-img-watch {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 375px) {
  .hero-title-text {
    font-size: 38px;
  }

  .hero-img {
    width: 100%;
    height: 410px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 148px;
    padding-bottom: 64px;
  }
  .hero-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .hero-title {
    max-width: 653px;
  }
  .hero-title-text {
    font-size: 60px;
    line-height: 1.03;
  }
  .swiper {
    max-width: 436px;
    height: 255px;
    margin-bottom: 100px;
  }
  .hero-swiper-button-prev,
  .hero-swiper-button-next {
    width: 40px;
    height: 40px;
  }
  .hero-img {
    max-width: 704px;
    max-height: 410px;
  }
  .hero-description {
    margin-bottom: 103px;
    align-self: center;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 80px;
  }
  .hero-title {
    max-width: 750px;
    margin-bottom: 43px;
  }

  .hero-description {
    max-width: 282px;
    margin-bottom: 73px;
  }
  .swiper {
    order: 3;
    align-self: flex-end;
    margin-bottom: 55px;
  }
  .hero-img {
    order: 4;
    max-width: 676px;
    height: 394px;
  }
}
