.sale-title {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--hero-watches-bgc);
}

.sale-gallery {
  display: flex;
  margin-bottom: 40px;
}

.sale-gallery-item {
  display: flex;
  background-color: var(--hero-watches-bgc);
}

.sale-picture:nth-child(1) {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.sale-container {
  margin: 0 auto;
}

.sale-title {
  margin-bottom: 40px;
}

.sale-gallery-list {
  margin-top: 0px;
  margin-bottom: 0;
  margin-right: 20px;
}

.sale-picture-big {
  max-width: 235px;
  max-height: 350px;
}

.sale-item-big {
  display: flex;

  background-color: var(--hero-watches-bgc);
}

.sale-item-info {
  margin: 0 auto;
  display: inline-block;
}

.sale-item-main-info {
  margin-bottom: 40px;
  width: 369px;
  height: 146px;
}

.sale-item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sale-item-current-price {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--hero-watches-bgc);
  margin-right: 8px;
  margin-top: 0;
  margin-bottom: 0;
}

.sale-item-previous-price {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration-line: line-through;
  color: var(--description-color);
}

.sale-item-description {
  margin-bottom: 40px;
  width: 369px;
  height: 175px;
}

.sale-item-description::before {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--hero-bgc);
}

.sale-item-title {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--hero-bgc);
  margin-bottom: 8px;
}

.sale-item-product-tag {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--description-color);
  margin-top: 8px;
  margin-bottom: 16px;
}

.sale-item-description-text {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--description-color);
}

.sale-item-description-title {
  margin-top: 8px;
  margin-bottom: 8px;

  position: relative;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--hero-watches-bgc);
}

.sale-item-description-title::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 1px;
  right: 0;
  top: 50%;
  align-items: center;
  background-color: var(--hero-bgc);
}
.sale-item-details {
  width: 369px;
  height: 192px;
}
.sale-item-details::before {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--hero-bgc);
}

.sale-item-details-title {
  position: relative;

  margin-top: 8px;
  margin-bottom: 8px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--hero-bgc);
}

.sale-item-details-title::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 1px;
  right: 0;
  top: 50%;
  align-items: center;
  background-color: var(--hero-bgc);
}

.sale-item-details-text {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--description-color);
}

@media screen and (min-width: 768px) {
  .info-wrap {
    max-height: 614px;
  }

  .sale-gallery {
  }
  .sale-picture-big {
    max-width: 406px;
    height: 614px;
  }

  .sale-picture {
    width: 146px;
    height: 146px;
    background-color: var(--hero-bgc);
  }

  .sale-item-title {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.02em;
  }

  .sale-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: var(--hero-bgc);
  }

  .sale-picture-big {
    max-width: 406px;
    max-height: 614px;
  }
}
.sale-item-big {
  min-width: 406px;
  min-height: 614px;
}

@media screen and (min-width: 1280px) {
  .info-wrap {
    display: flex;
    flex-direction: row;

    max-height: 614px;
  }
  .sale-container {
    width: 1176px;
    justify-content: space-between;
  }

  .color {
    background-color: var(--hero-bgc);
  }

  .info-wrap {
    padding-left: 97px;
    padding-right: 97px;
  }

  .sale-picture {
    width: 146px;
    height: 146px;
    background-color: var(--hero-bgc);
  }

  .sale-picture-big {
    margin-right: 40px;
    margin: 0 auto;
  }

  .sale-title {
    margin-bottom: 81px;
    margin-right: 10px;
    margin-top: 0;
  }

  .sale-item-big {
    min-width: 406px;
    min-height: 614px;
    margin-right: 40px;
  }

  .sale-gallery {
    margin-bottom: 0;
  }
}
