/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./catalog.css');
@import url('./new_watches.css');
@import url('./sale.css');
@import url('./footer.css');
@import url('./buy_now.css');
@import url('./burger_menu.css');

@font-face {
  font-family: 'Epilogue-Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('/src/fonts/Epilogue-Light.ttf');
}

@font-face {
  font-family: 'Epilogue-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('/src/fonts/Epilogue-Regular.ttf');
}

@font-face {
  font-family: 'Epilogue-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('/src/fonts/Epilogue-SemiBold.ttf');
}

@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('/src/fonts/NeueMontreal-Regular.otf');
}

body {
  font-family: Epilogue-Regular, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #141414;
}
