/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./catalog.css');
@import url('./new_watches.css');
@import url('./sale.css');
@import url('./footer.css');
@import url('./buy_now.css');
@import url('./burger_menu.css');

@font-face {
  font-family: 'Epilogue';
  src: url('/src/fonts/Epilogue-Regular.woff2') format('woff2'),
    url('/src/fonts/Epilogue-Regular.woff2') format('woff'),
    url('/src/fonts/Epilogue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: local('/src/fonts/NeueMontreal-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Epilogue';
  font-size: 14px;
  font-style: normal;
}
@font-face {
  font-family: 'Epilogue';
  src: url('/src/fonts/Epilogue-Regular.woff2') format('woff2'),
    url('/src/fonts/Epilogue-Regular.woff2') format('woff'),
    url('/src/fonts/Epilogue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}